* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: #232323;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background-color: #15202b;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 10px solid #ffffff;
  -webkit-box-shadow: inset 0px 0px 5px white, inset 0px 0px 10px rgba(255, 255, 255, 0.6), inset 0px 0px 20px rgba(255, 255, 255, 0.3), inset 0px 0px 40px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0px 0px 5px white, inset 0px 0px 10px rgba(255, 255, 255, 0.6), inset 0px 0px 20px rgba(255, 255, 255, 0.3), inset 0px 0px 40px rgba(255, 255, 255, 0.1);
}

img {
  width: 100%;
}

a {
  color: #ffffff;
}

#main-header {
  text-align: center;
  padding: 5vw 3vw;
  margin-bottom: 5vw;
}

#main-header #header-div {
  position: relative;
  width: 48%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 3vw;
}

#main-header #header-div .title-div {
  position: relative;
  padding: 2vw;
  border-radius: 10px;
  border: solid 8px transparent;
  z-index: 1;
  background-color: #15202b;
}

#main-header #header-div .title-div .header-title {
  font-size: 2.2vw;
  margin-bottom: 1vw;
}

#main-header #header-div .title-div .my-name {
  font-size: 1.5vw;
  font-weight: 200;
}

#main-header #header-div .title-div a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

#main-header #header-div .gradient-animation {
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: 10px;
  background: linear-gradient(135deg, #fffa80, #e4205d, #4a3ece);
  -webkit-animation: backgroundLinear 1s linear infinite;
          animation: backgroundLinear 1s linear infinite;
}

@-webkit-keyframes backgroundLinear {
  0% {
    background: linear-gradient(135deg, #fffa80 0%, #e4205d 45%, #4a3ece 100%);
    -webkit-filter: hue-rotate(0) blur(3px);
            filter: hue-rotate(0) blur(3px);
  }
  100% {
    -webkit-filter: hue-rotate(360deg) blur(3px);
            filter: hue-rotate(360deg) blur(3px);
  }
}

@keyframes backgroundLinear {
  0% {
    background: linear-gradient(135deg, #fffa80 0%, #e4205d 45%, #4a3ece 100%);
    -webkit-filter: hue-rotate(0) blur(3px);
            filter: hue-rotate(0) blur(3px);
  }
  100% {
    -webkit-filter: hue-rotate(360deg) blur(3px);
            filter: hue-rotate(360deg) blur(3px);
  }
}

#main-header .about-me {
  margin: 0 10vw;
  font-size: 1.4vw;
  font-weight: 300;
}

#days-section .days-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-column-gap: 4vw;
  grid-row-gap: 6vw;
  padding: 1vw 5vw 8vw;
}

#days-section .days-container .day {
  background: #0f1822;
  padding: 2vw;
  border-radius: 20px;
  border: solid #17bf63 3px;
}

#days-section .days-container .day .day-title {
  font-size: 1.5vw;
  font-weight: 700;
  margin-bottom: 1.2vw;
}

#days-section .days-container .day .day-p {
  font-size: 1vw;
  text-align: left;
  margin-bottom: 1.2vw;
}

#days-section .days-container .day .day-img {
  overflow: hidden;
  border-radius: 10px;
}

#days-section .days-container .day .day-img img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
/*# sourceMappingURL=style.css.map */