* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: #232323;
}

body {
  font-family: "Raleway", sans-serif;
  // font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #15202b;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 10px solid #ffffff;
  box-shadow: inset 0px 0px 5px rgba($color: #ffffff, $alpha: 1),
    inset 0px 0px 10px rgba($color: #ffffff, $alpha: 0.6),
    inset 0px 0px 20px rgba($color: #ffffff, $alpha: 0.3),
    inset 0px 0px 40px rgba($color: #ffffff, $alpha: 0.1);
}

img {
  width: 100%;
}

a {
  color: #ffffff;
}

// Main Header
#main-header {
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  padding: 6vw 3vw;
  margin-bottom: 1vw;

  #header-div {
    position: relative;
    width: 48%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 3vw;

    .title-div {
      position: relative;
      padding: 2vw;
      border-radius: 10px;

      border: solid 8px transparent;
      z-index: 1;
      background-color: #15202b;

      .header-title {
        font-size: 4vw;
        margin-bottom: 1vw;
        cursor: unset;
        color: #1d9ceb;
      }

      .my-name {
        font-size: 1.5vw;
        font-weight: 200;
        display: inline-block;
        transition: color 0.5s;

        &:hover {
          color: #17bf63;
        }
      }

      a {
        display: block;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .gradient-animation {
      position: absolute;
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      border-radius: 10px;
      background: linear-gradient(135deg, #fffa80, #e4205d, #4a3ece);
      animation: backgroundLinear 1s linear infinite;
    }

    @keyframes backgroundLinear {
      0% {
        background: linear-gradient(
          135deg,
          #fffa80 0%,
          #e4205d 45%,
          #4a3ece 100%
        );
        filter: hue-rotate(0) blur(3px);
      }

      100% {
        filter: hue-rotate(360deg) blur(3px);
      }
    }
  }

  .about-me {
    margin: 0 8vw 3vw;
    font-size: 1.4vw;
    font-weight: 300;
  }

  #navbar {
    margin-top: 8vw;
    padding: 0 18vw;
    text-align: center;
  }
}
.projects-link {
  h1 {
    color: #1da1f2;
    text-shadow: 0 0 40px #1da1f2;
  }
}

// Project Section
#projects {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4vw;
    grid-row-gap: 6vw;
    padding: 1vw 5vw 8vw;

    .project {
      display: block;
      text-decoration: none;
      background: #0f1822;
      padding: 2vw;
      border-radius: 20px;
      border: solid #1da1f2 3px;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: 0 0 1vw #1da1f2;
      }

      .project-title {
        text-transform: uppercase;
        font-size: 2vw;
        font-weight: 700;
        margin-bottom: 1.2vw;
        text-align: left;
      }

      .project-title-description {
        font-size: 1vw;
        margin-bottom: 1.2vw;
      }

      .project-img {
        overflow: hidden;
        border-radius: 10px;
        img {
          // transform: scale(1.08);
          border-radius: 10px;

        }
      }
    }
  }
}

.single-work {
  position: relative; }
  .single-work .work-image img {
    width: 100%; }
  .single-work .work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    // background-color: rgba(117, 78, 249, 0.8);
    background-color: rgba(69, 84, 247, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .single-work .work-overlay .work-content {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .single-work .work-overlay .work-content .work-title {
        font-size: 22px;
        color: #fff;
        font-weight: 60;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        margin-bottom: 15px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        opacity: 0; }
      .single-work .work-overlay .work-content ul {
        position: relative;
        padding-top: 20px; }
        .single-work .work-overlay .work-content ul li {
          display: inline-block;
          margin: 0 15px;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          opacity: 0; }
          .single-work .work-overlay .work-content ul li a {
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 25px;
            color: #fff;
            border-radius: 50%;
            border: 1px solid #fff;
            text-align: center;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s; }
            .single-work .work-overlay .work-content ul li a:hover {
              background-color: #fff;
              color: #754ef9; }
          .single-work .work-overlay .work-content ul li:nth-of-type(1) {
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%); }
          .single-work .work-overlay .work-content ul li:nth-of-type(2) {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%); }
  .single-work:hover .work-overlay {
    opacity: 1;
    visibility: visible; }
    .single-work:hover .work-overlay .work-content .work-title {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    .single-work:hover .work-overlay .work-content ul li {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      opacity: 1; }

// FOR IPAD AND TAB
@media (max-width: 1030px) {
  // Main Header
  #main-header {
    padding: 7vw 3vw;

    #header-div {
      width: 65%;
      margin-bottom: 5.5vw;

      .title-div {
        padding: 3vw;

        .header-title {
          font-size: 3vw;
          margin-bottom: 1.5vw;
        }

        .my-name {
          font-size: 2.5vw;
        }
      }
    }

    .about-me {
      margin: 0 3.5vw 3vw;
      font-size: 2.1vw;
    }

    #navbar {
      padding: 0 12vw;
      .d-line {
        & > div {
          height: 0.8vw;
          width: 15vw;
        }

        .d-line-1 {
          margin-bottom: 3vw;
        }
      }

      & > div {
        a {
          font-size: 2.9vw;
        }
      }
    }
  }
  
  // Project Section
  #projects {
    .projects-container {
      grid-template-columns: repeat(2, 1fr);

      .project {
        .project-title {
          font-size: 2.9vw;
          margin-bottom: 2vw;
        }

        .project-title-description {
          font-size: 1.6vw;
          margin-bottom: 1.8vw;
        }

        .project-img {
          overflow: hidden;
          border-radius: 10px;

          img {
            transform: scale(1.08);
          }
        }
      }
    }
  }
}

// FOR SMART PHONE
@media (max-width: 600px) {
  body {
    border: 5px solid #ffffff;
    box-shadow: inset 0px 0px 2px rgba($color: #ffffff, $alpha: 1),
      inset 0px 0px 8px rgba($color: #ffffff, $alpha: 0.6),
      inset 0px 0px 12px rgba($color: #ffffff, $alpha: 0.3);
  }

  // Main Header
  #main-header {
    padding: 10vw 3vw 8vw;

    #header-div {
      width: 80%;
      margin-bottom: 6vw;

      .title-div {
        padding: 3vw;

        .header-title {
          font-size: 3.5vw;
        }

        .my-name {
          font-size: 3.2vw;
        }
      }
    }

    .about-me {
      margin: 0 3.5vw 10vw;
      font-size: 3vw;
    }

    #navbar {
      padding: 0 10vw;
      .d-line {
        & > div {
          height: 1vw;
          width: 20vw;
        }

        .d-line-1 {
          margin-bottom: 3.5vw;
        }

        .line-current-green-light {
          box-shadow: 0 0 10px #17bf63;
        }

        .line-current-blue-light {
          box-shadow: 0 0 10px #1da1f2;
        }
      }

      & > div {
        a {
          font-size: 3.6vw;
        }
      }

      .days-link {
        .a-current-green-light {
          color: #17bf63;
          text-shadow: 0 0 20px #17bf63;
        }
      }

      .projects-link {
        .a-current-blue-light {
          text-shadow: 0 0 20px #1da1f2;
        }
      }
    }
  }

  // Days section
  #days-section {
    .days-container {
      grid-template-columns: 1fr;
      padding: 1vw 8vw 8vw;
      grid-row-gap: 8vw;

      .start-day {
        grid-column: unset;
        display: flex;
        flex-direction: column;
        .start-day-content {
          order: 1;

          .day-title {
            font-size: 4vw;
          }

          .day-p {
            font-size: 3vw;
          }
        }

        .day-img {
          order: 2;
        }
      }

      .day {
        border: solid #17bf63 2px;
        padding: 4vw;
        .day-title {
          font-size: 4vw;
        }

        .day-p {
          font-size: 3vw;
        }
      }
    }
  }

  // Project Section
  #projects {
    .projects-container {
      padding: 1vw 8vw 8vw;
      grid-row-gap: 8vw;
      grid-template-columns: 1fr;

      .project {
        border: solid #1da1f2 2px;
        padding: 4vw;

        .project-title {
          font-size: 4vw;
        }

        .project-title-description {
          font-size: 3vw;
        }
      }
    }
  }
}
