* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: #232323;
}

body {
  font-family: "Raleway", sans-serif;
  // font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #15202b;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 10px solid #ffffff;
  box-shadow: inset 0px 0px 5px rgba($color: #ffffff, $alpha: 1),
    inset 0px 0px 10px rgba($color: #ffffff, $alpha: 0.6),
    inset 0px 0px 20px rgba($color: #ffffff, $alpha: 0.3),
    inset 0px 0px 40px rgba($color: #ffffff, $alpha: 0.1);
}

img {
  width: 100%;
}

a {
  color: #ffffff;
}

// Main Header
#main-header {
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  padding: 6vw 3vw;
  margin-bottom: 1vw;

  #header-div {
    position: relative;
    width: 48%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 3vw;

    .title-div {
      position: relative;
      padding: 2vw;
      border-radius: 10px;

      border: solid 8px transparent;
      z-index: 1;
      background-color: #15202b;

      .header-title {
        font-size: 2.2vw;
        margin-bottom: 1vw;
        transition: color 0.5s;

        &:hover {
          color: #1d9ceb;
        }
      }

      .my-name {
        font-size: 1.5vw;
        font-weight: 200;
        display: inline-block;
        transition: color 0.5s;

        &:hover {
          color: #17bf63;
        }
      }

      a {
        display: block;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .gradient-animation {
      position: absolute;
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      border-radius: 10px;
      background: linear-gradient(135deg, #fffa80, #e4205d, #4a3ece);
      animation: backgroundLinear 1s linear infinite;
    }

    @keyframes backgroundLinear {
      0% {
        background: linear-gradient(
          135deg,
          #fffa80 0%,
          #e4205d 45%,
          #4a3ece 100%
        );
        filter: hue-rotate(0) blur(3px);
      }

      100% {
        filter: hue-rotate(360deg) blur(3px);
      }
    }
  }

  .about-me {
    margin: 0 8vw 3vw;
    font-size: 1.4vw;
    font-weight: 300;
  }

  #navbar {
    margin-top: 8vw;
    padding: 0 18vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .d-line {
      display: flex;
      flex-direction: column;
      & > div {
        position: relative;
        height: 0.6vw;
        width: 13vw;
        background: #ffffff;
        border-radius: 10vw;
      }

      .d-line-1 {
        margin-bottom: 2vw;
        right: 4vw;
        background: #0d5c30;
      }

      .d-line-2 {
        background: #23516e;
        left: 4vw;
        // box-shadow: 0 0 20px #e4205d;
      }

      .line-current-green-light {
        box-shadow: 0 0 20px #17bf63;
        background: #17bf63;
      }

      .line-current-blue-light {
        box-shadow: 0 0 20px #1da1f2;
        background: #1da1f2;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      a {
        text-decoration: none;
        font-size: 1.8vw;
        font-weight: 800;
      }
    }
    .days-link {
      a {
        color: #0d5c30;
        transition: color 0.5s, text-shadow 0.5s;
        &:hover {
          color: #17bf63;
          text-shadow: 0 0 40px #17bf63;
        }
      }
      .a-current-green-light {
        color: #17bf63;
        text-shadow: 0 0 40px #17bf63;
      }
    }

    .projects-link {
      a {
        color: #23516e;
        transition: color 0.5s, text-shadow 0.5s;

        &:hover {
          color: #1da1f2;
          text-shadow: 0 0 40px #1da1f2;
        }
      }

      .a-current-blue-light {
        color: #1da1f2;
        text-shadow: 0 0 40px #1da1f2;
      }
    }
  }
}

// Days section
#days-section {
  .days-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4vw;
    grid-row-gap: 6vw;
    padding: 1vw 5vw 8vw;

    .start-day {
      grid-column: 2 / span 2;
      display: grid;
      grid-template-columns: 5fr 3fr;
      justify-content: center;
      align-items: center;

      .day-img {
        margin-right: 2vw;
      }

      .start-day-content {
        .day-title {
          font-size: 2vw;
          margin-bottom: 2vw;
        }

        .day-p {
          font-size: 1.3vw;
        }
      }
    }

    .day {
      background: #0f1822;
      padding: 2vw;
      border-radius: 20px;
      border: solid #17bf63 3px;
      transition: all 0.5s ease;
      text-align: left;

      &:hover {
        box-shadow: 0 0 1vw #17bf63;
        cursor: pointer;
      }

      .day-title {
        font-size: 1.5vw;
        font-weight: 700;
        margin-bottom: 1.2vw;
      }

      .day-p {
        font-size: 1vw;
        margin-bottom: 1.2vw;
      }

      .day-img {
        overflow: hidden;
        border-radius: 10px;
        // width: 100%;
        // height: 12vw;

        img {
          transform: scale(1.08);
        }
      }
    }
  }
}

// Project Section
#projects {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4vw;
    grid-row-gap: 6vw;
    padding: 1vw 5vw 8vw;

    .project {
      display: block;
      text-decoration: none;
      background: #0f1822;
      padding: 2vw;
      border-radius: 20px;
      border: solid #1da1f2 3px;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: 0 0 1vw #1da1f2;
        cursor: pointer;
      }

      .project-title {
        text-transform: uppercase;
        font-size: 2vw;
        font-weight: 700;
        margin-bottom: 1.2vw;
        text-align: left;
      }

      .project-title-description {
        font-size: 1vw;
        margin-bottom: 1.2vw;
      }

      .project-img {
        overflow: hidden;
        border-radius: 10px;

        img {
          transform: scale(1.08);
        }
      }
    }
  }
}

// FOR IPAD AND TAB
@media (max-width: 1030px) {
  // Main Header
  #main-header {
    padding: 7vw 3vw;

    #header-div {
      width: 60%;
      margin-bottom: 6vw;

      .title-div {
        padding: 3vw;

        .header-title {
          font-size: 2.6vw;
          margin-bottom: 1.5vw;
        }

        .my-name {
          font-size: 2vw;
        }
      }
    }

    .about-me {
      margin: 0 4vw 3vw;
      font-size: 1.6vw;
      font-weight: 300;
    }

    #navbar {
      margin-top: 8vw;
      padding: 0 18vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .d-line {
        display: flex;
        flex-direction: column;
        & > div {
          position: relative;
          height: 0.6vw;
          width: 13vw;
          background: #ffffff;
          border-radius: 10vw;
        }

        .d-line-1 {
          margin-bottom: 2vw;
          right: 4vw;
          background: #0d5c30;
        }

        .d-line-2 {
          background: #23516e;
          left: 4vw;
          // box-shadow: 0 0 20px #e4205d;
        }

        .line-current-green-light {
          box-shadow: 0 0 20px #17bf63;
          background: #17bf63;
        }

        .line-current-blue-light {
          box-shadow: 0 0 20px #1da1f2;
          background: #1da1f2;
        }
      }

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
          text-decoration: none;
          font-size: 1.8vw;
          font-weight: 800;
        }
      }
      .days-link {
        a {
          color: #0d5c30;
          transition: color 0.5s, text-shadow 0.5s;
          &:hover {
            color: #17bf63;
            text-shadow: 0 0 40px #17bf63;
          }
        }
        .a-current-green-light {
          color: #17bf63;
          text-shadow: 0 0 40px #17bf63;
        }
      }

      .projects-link {
        a {
          color: #23516e;
          transition: color 0.5s, text-shadow 0.5s;

          &:hover {
            color: #1da1f2;
            text-shadow: 0 0 40px #1da1f2;
          }
        }

        .a-current-blue-light {
          color: #1da1f2;
          text-shadow: 0 0 40px #1da1f2;
        }
      }
    }
  }
}
